html {
    background: url(./images/wp7769153.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .log_conCLS {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.3em;
  }

  .logCLS {
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    padding: 1em;
    justify-content: space-between;
  }
  
  .menu_con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.3em;
   
  }

  .menu {
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    width: 900px;
    padding: 1em;
    justify-content: space-evenly;
  }

  .btn {
    padding: 0.5em;
  }

  .submission_con {
    display: flex;
    justify-content: space-around;
    padding: 1.3em;
   
  }

  .userInfoCLS {
    background: rgba(0, 151, 133, 0.696);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(250, 250, 250);
    display: flex;
    flex-wrap: wrap;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    width: 900px;
    padding: 1.3em;
    justify-content: center;
  }